<a href="https://colab.research.google.com/github/SaraPitouli/SaraPitouli.github.io/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

https://www.theglobaleconomy.com/rankings/female_labor_force_participation/

In [2]:
df=pd.read_html('task4_data.html')

In [3]:
df=df[0]

In [4]:
df= df.drop('Available data', axis=1)

In [5]:
df

          Countries  Female labor force participation, 2021  Global rank
0             Spain                                   52.65            1
1           Hungary                                   52.06            2
2            France                                   51.90            3
3         Euro area                                   51.72            4
4           Czechia                                   51.67            5
5           Albania                                   50.73            6
6           Belgium                                   49.84            7
7            Poland                                   49.20            8
8          Bulgaria                                   49.14            9
9           Ukraine                                   48.10           10
10       Montenegro                                   47.82           11
11           Serbia                                   46.62           12
12          Croatia                                   45.92           13
13           Greece                                   43.30           14
14          Romania                                   42.79           15
15  North Macedonia                                   42.40           16
16            Italy                                   39.89           17
17          Moldova                                   33.88           18
18   Bosnia & Herz.                                   32.26           19
19           Turkey                                   31.84           20

In [6]:
df.rename(columns={'Female labor force participation, 2021':'Participation'})

          Countries  Participation  Global rank
0             Spain          52.65            1
1           Hungary          52.06            2
2            France          51.90            3
3         Euro area          51.72            4
4           Czechia          51.67            5
5           Albania          50.73            6
6           Belgium          49.84            7
7            Poland          49.20            8
8          Bulgaria          49.14            9
9           Ukraine          48.10           10
10       Montenegro          47.82           11
11           Serbia          46.62           12
12          Croatia          45.92           13
13           Greece          43.30           14
14          Romania          42.79           15
15  North Macedonia          42.40           16
16            Italy          39.89           17
17          Moldova          33.88           18
18   Bosnia & Herz.          32.26           19
19           Turkey          31.84           20

In [7]:
exported_values= list(df.T.to_dict().values())

In [8]:
import json

In [10]:
open('task4.json','w').write(json.dumps(exported_values))

1878