<a href="https://colab.research.google.com/github/SaraPitouli/SaraPitouli.github.io/blob/main/week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df=pd.read_html('task4_table.html')

In [5]:
df=df[0]

In [6]:
df= df.drop('Available data', axis=1)

In [7]:
df

        Countries  Female labor force participation, 2021  Global rank
0    Solomon Isl.                                   83.06            1
1          Rwanda                                   82.50            2
2      Madagascar                                   81.53            3
3        Tanzania                                   79.53            4
4        Zimbabwe                                   79.31            5
..            ...                                     ...          ...
176   Afghanistan                                   14.85          177
177          Iran                                   14.35          178
178        Jordan                                   13.47          179
179          Iraq                                   11.08          180
180         Yemen                                    5.99          181

[181 rows x 3 columns]

In [8]:
df.rename(columns={'Female labor force participation, 2021':'Participation'})

        Countries  Participation  Global rank
0    Solomon Isl.          83.06            1
1          Rwanda          82.50            2
2      Madagascar          81.53            3
3        Tanzania          79.53            4
4        Zimbabwe          79.31            5
..            ...            ...          ...
176   Afghanistan          14.85          177
177          Iran          14.35          178
178        Jordan          13.47          179
179          Iraq          11.08          180
180         Yemen           5.99          181

[181 rows x 3 columns]

In [10]:
exported_values= list(df.T.to_dict().values())

In [11]:
import json

In [13]:
open('task4.json','w').write(json.dumps(exported_values))

17182